body {
  margin: 0;
  padding: 0;
  /* background: black; */
  background-image: url(media/tv.gif);
}

#container {
  background-image: url(media/synth.jpg); opacity:0.6;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
}

.car {
  grid-column-start: 6;
  grid-column-end: 16;

  grid-row-start: 1;
  grid-row-end: 11;

  height: 100%;
  bottom:0;
  width: 100%;
  mix-blend-mode:lighten;
  opacity: 0.6;
}

/* .pyramid{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    mix-blend-mode:lighten;

} */

audio {
  position: fixed;
  top: 0;
  align-self: center;
  opacity:0.3;
}
